---
title: What ecosystem am I in?
permalink: /
---

{% extends "base.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block extraHead %}
  <link rel="stylesheet" href="/vendor/leaflet/leaflet.css">
{% endblock %}

{% block content %}
  <section class="page-intro">
    <h1>{{ title }}</h1>
    <p>Explore Taiwan’s vegetation zones. Click the map or use your location to learn what ecosystem surrounds you.</p>
  </section>

  {% set mapData = app.map %}
  {% set mapId = "taiwan-ecosystem-map" %}
  {% include "leaflet-map.njk" %}
{% endblock %}

{% block extraScripts %}
  <script src="/vendor/leaflet/leaflet.js"></script>
  <script src="/vendor/georaster/georaster.browser.bundle.min.js"></script>
  <script src="/vendor/georaster-layer-for-leaflet/georaster-layer-for-leaflet.min.js"></script>
  <script src="/js/ecosystem-map.js"></script>
{% endblock %}
